.react-rater {
  display: inline-block;
  line-height: normal; }
  .react-rater a {
    cursor: pointer;
    color: #ccc;
    position: relative; }
    .react-rater a.will-be-active {
      color: #ffdd99; }
    .react-rater a.is-active {
      color: #fc6; }
    .react-rater a.is-active-half:before {
      color: #fc6;
      content: '\2605';
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden; }
    .react-rater a.is-disabled {
      cursor: default; }

html, body {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font: 20px/1.8 'Helvetica Nenu', Helvetica, sans-serif;
  min-height: 100%;
  margin: 0 10vw; }

dd + dt {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px; }

code {
  display: inline-block;
  background: #f1f1f1;
  border-radius: 3px;
  padding: 0 10px; }

pre {
  background: #f1f1f1;
  border-radius: 5px;
  padding: 10px 20px;
  overflow: auto; }
  pre code {
    background: transparent; }

.face-rater span {
  display: inline-block;
  font-size: 4rem;
  cursor: pointer; }
