.react-rater {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
  display: inline-block;
  line-height: normal; }
  .react-rater a {
    cursor: pointer;
    color: #ccc; }
    .react-rater a:hover {
      color: #666; }
      .react-rater a:hover ~ a {
        color: #666; }
    .react-rater a.is-active {
      color: #000 !important; }
      .react-rater a.is-active ~ a {
        color: #000; }
    .react-rater a.is-disabled {
      color: #ccc !important;
      cursor: not-allowed; }
